<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Whimsical_Editor.UserPreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Whimsical_Editor.UserPreferences>
            <setting name="WorkingDirectory" serializeAs="String">
                <value>C:\Users\Justin\Desktop\gamedata\mods</value>
            </setting>
            <setting name="LastMod" serializeAs="String">
                <value />
            </setting>
        </Whimsical_Editor.UserPreferences>
    </userSettings>
</configuration>